VITE_FIREBASE_API_KEY=tu_apiKey
VITE_FIREBASE_AUTH_DOMAIN=tu_authDomain
VITE_FIREBASE_PROJECT_ID=tu_projectId
VITE_FIREBASE_APP_ID=tu_appId
AWS_REGION=region_aws
AWS_ACCESS_KEY_ID=tu_contraseña_publica
AWS_SECRET_ACCESS_KEY=tu_contraseña_privada
SES_FROM_EMAIL=email_donde_enviar