*,
*::before,
*::after {
    box-sizing: border-box;
}

/* =======================
   PAGINA TASKS
======================= */

.task-page {
    min-height: 100vh;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    padding: 1rem;
    background: var(--bg);

    position: relative;
    overflow: hidden;
}


/* =======================
   CONTENEDOR DE LA
   PAGINA TASKS
======================= */

.task-container {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 1000px;

    height: calc(100vh - 2rem);

    padding: 1rem;

    background: var(--card-bg);
    border: 1px solid var(--border);
    border-radius: 12px;
    box-shadow: var(--shadow);

    margin: 0 auto;
    min-height: 0;
}

/* =======================
   HEAD PAGINA TAREA
======================= */

.task-header {
    display: flex;
    align-items: center;
    gap: .75rem;

    width: 100%;
    min-width: 0;
    justify-content: space-between;
}

.page-info h1 {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--text);
}

.page-info p {
    margin-top: .3rem;
    color: var(--text-secondary);
    font-size: .9rem;
}

/* =======================
   BOTON AÑADIR TAREA
======================= */

.btn-add-task {
    width: 100%;
    padding: .75rem 1rem;

    margin-top: 0.5rem;
    margin-bottom: 1.2rem;

    border: 1px solid var(--primary);
    border-radius: 10px;

    background: var(--primary);
    color: var(--card-bg);

    font-size: .95rem;
    font-weight: 600;

    cursor: pointer;
    transition: .2s ease;
}

.btn-add-task:hover {
    background: var(--primary-hover);
}

/* =======================
   LISTA DE TAREAS
======================= */

.tasks-list {
    display: flex;
    flex-direction: column;
    gap: .75rem;

    width: 100%;

    flex: 1;
    min-height: 0;

    overflow-y: auto;

    padding: .5rem;

    scrollbar-gutter: stable;
}

/* width del scrollbar */
.tasks-list::-webkit-scrollbar {
    width: 6px;
}

/* track (fondo) */
.tasks-list::-webkit-scrollbar-track {
    background: transparent;
}

/* thumb (la barrita) */
.tasks-list::-webkit-scrollbar-thumb {
    background: rgba(120, 120, 120, 0.25);
    border-radius: 20px;
    transition: background 0.2s ease;
}

/* hover */
.tasks-list::-webkit-scrollbar-thumb:hover {
    background: rgba(120, 120, 120, 0.45);
}

/* =======================
   TAREA COMO ITEM
======================= */

.task-item {
    display: flex;
    flex-direction: column;

    padding: 1rem 1.25rem;

    border: 1px solid var(--border);
    border-radius: 12px;

    background: var(--card-bg);

    position: relative;
    gap: .4rem;
}

.task-item:hover {
    border-color: var(--text);
}


/* =======================
    TITULO DE LA TAREA
======================= */

.task-title {
    flex: 1;
    min-width: 0;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    font-size: 0.8rem;
    color: var(--text);

    overflow-wrap: break-word;
    word-break: break-word;
}

/* =======================
   DESCRIPCION DE LA TAREA
========================== */

.task-description {
    font-size: .8rem;
    color: var(--text-secondary);

    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;

    overflow-wrap: break-word;
    word-break: break-word;
}

/* =======================
   CHECKBOX DE LA TAREA
======================= */

.task-header input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;

    width: 16px;
    height: 16px;

    border: 1px solid var(--border);
    border-radius: 5px;

    background: var(--card-bg);

    display: grid;
    place-content: center;

    cursor: pointer;
    transition: .2s ease;
}

.task-header input[type="checkbox"]:checked {
    background: var(--primary);
    border-color: var(--primary);
}

.task-header input[type="checkbox"]:checked::after {
    content: "";
    width: 3px;
    height: 7px;

    border: solid var(--card-bg);
    border-width: 0 1.5px 1.5px 0;

    transform: rotate(45deg);
}


/* =======================
   EDITAR/ELIMINAR TAREA
   COMO ICONO (BOTON)
======================= */

.icon-btn {
    width: 30px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    background: transparent;

    color: var(--text-secondary);

    cursor: pointer;
    border-radius: 8px;

    transition: all .15s ease;
}

.icon-btn svg {
    width: 15px;
    height: 15px;
}

.icon-btn:hover {
    background: var(--bg);
    color: var(--text);
    transform: translateY(-1px);
}

.icon-btn.edit:hover {
    color: var(--primary);
}

.icon-btn.delete:hover {
    color: #ef4444;
}

/* =======================
   FORMULARIO COMO MODAL
======================= */

.modal-overlay {
    position: fixed;
    inset: 0;

    background: rgba(0, 0, 0, 0.4);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1000;
}

.modal-content {
    width: min(420px, 92vw);

    background: var(--card-bg);
    border: 1px solid var(--border);
    border-radius: 14px;

    padding: 1.2rem;

    box-shadow: var(--shadow);
}

/* =======================
   INPUTS DEL FORMULARIO
======================= */

.task-form label {
    display: block;
    margin-bottom: .3rem;

    font-size: .85rem;
    font-weight: 500;

    color: var(--text-muted);
}

.task-form input {
    width: 100%;
    box-sizing: border-box;

    padding: .7rem .85rem;
    margin-bottom: 1rem;

    border: 1px solid var(--input-border);
    border-radius: 10px;

    background: var(--input-bg);
    color: var(--text);

    font-size: .95rem;
}

.task-form input:focus {
    outline: none;
    border-color: var(--primary);
    box-shadow: 0 0 0 3px var(--input-focus);
}

/* ==============================
   BOTONES SAVE/CANCEL FORMULARIO
================================== */

.btn-form-save {
    width: 100%;
    padding: .75rem .9rem;

    border: none;
    border-radius: 10px;

    background: var(--primary);
    color: var(--card-bg);

    font-size: .95rem;
    font-weight: 600;

    cursor: pointer;
    transition: .2s ease;
}

.btn-form-save:hover {
    background: var(--primary-hover);
}

.btn-form-cancel {
    width: 100%;
    margin-top: .5rem;

    padding: .7rem .9rem;

    border: 1px solid var(--border);
    border-radius: 10px;

    background: transparent;
    color: var(--text);

    font-size: .9rem;
    font-weight: 500;

    cursor: pointer;
    transition: .2s ease;
}

.btn-form-cancel:hover {
    background: var(--bg);
}

/* =======================
   BOTON LOGOUT
======================= */
.logout-span {
    width: 5.5rem;
}

.logout-button {
    position: absolute;
    top: 3rem;
    right: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    width: 40px;
    height: 40px;

    border: none;

    background: transparent;
    color: var(--text);

    cursor: pointer;
    transition: .2s ease;
}

.logout-button:hover {
    background: var(--bg);
    transform: translateY(-1px);
}


.logout-button svg {
    flex-shrink: 0;
}

.logout-span {
    display: none;
}

/* =======================
   BOTÓN ENVIAR RESUMEN
======================= */

.btn-email-summary {
    width: auto;
    margin-top: 1rem;
    padding: .4rem .7rem;
    font-size: .8rem;

    border: 1px solid var(--border);
    border-radius: 8px;

    background: transparent;
    color: var(--text);

    cursor: pointer;
    transition: .2s ease;

    white-space: nowrap;
}

.btn-email-summary:hover {
    background: var(--bg);
}

/* =======================
   TABLET / DESKTOP
======================= */

@media (min-width: 1300px) {

    .task-container {
        max-width: 900px;
    }

    .logout-button {
        position: fixed;
        top: 4rem;
        right: 1.2rem;

        width: auto;
        height: auto;

        border-radius: 10px;
        border: 1px solid var(--border);

        padding: .5rem .75rem;
    }

    .logout-span {
        display: inline;
    }

    .tasks-list {
        max-height: 60vh;
        padding: .75rem;
    }

    .task-title {
        font-size: 1rem;
    }

    .btn-email-summary {
        width: fit-content;
        min-width: 170px;
        margin-left: auto;
        padding: .55rem .9rem;
    }
}